#contener-create-post{
    background-color: var(--color-secundary);
    width: 400px;
}

#contener-create-post .create-post{
    padding: 1rem;
}

.create-post .camp-form {
    border: 0;
}
.create-post .camp-form + .camp-form{
    border: 0;
    padding: 0;
    margin-top: 1rem;
}
.create-post .camp-form {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    display: grid;
    position: relative;
    color: seashell;
}

.fild-create-post{
    /* border: 0; */
    margin: 1rem 0.01rem 1rem 0.01rem;
}
.fild-create-post, .fild-create{
    color: var(--color-text-fild);
    font-size: 1.3rem;
}



@media(min-width:1000px){
    #contener-create-post{
        width: 900px;
        align-items: center;
        /* display: grid; */
        display: grid;
        grid-template-rows: 1fr ;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        " User post ";
    }
    /* .create-post{
        width: ;
    } */
    
    .fild-create{
        /* display: inline-flex; */
        /* width: 800px; */
        margin: 0 auto;
        grid-area: User;
    }
    .fild-create-post{
        /* margin: 0; */
        /* width: 350px; */
        grid-area: post;
    }
}