
#page-home {
    background-color: var(--color-background) ;
    text-align: center;
    display: flex;
}
#page-home .container{
    background-color: var(--color-primary)
}

#page-home h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 6rem;
    padding: 1.75rem;
    text-align: center;
    color: var(--color-title);
   
}
#page-home #sud-title-site p{
        margin: 0 10px;
        /* width: 250px; */
        color: var(--color-text);
        font-size: 1.3rem;
        margin-top: 25px;
        margin-bottom: 10px;
}
#page-home .img-main{
    margin: auto auto;
    margin: 20px auto 20px auto;
    width: 20rem;

}
/* #page-home .menu{
    margin: auto;
    color: #000;
    height: auto;
} */

#page-home .menu a{
    display: block;
    text-decoration: none;
    color: var( --color-text);
    font-size: 2rem;
    background-color:var(--color-button);
    width: 13rem;
    height: 2.3rem;
    margin: 10px auto;
    border-radius: 0.6rem;
    text-align: center;
    justify-content: center;
}

#page-home .sobre{
    flex: 1 0 auto;
    width: 200px;
    margin: 20px auto 0 auto;
    text-align: center;
    height: 5rem;
    font-size: 1.2rem;
    color: var(--color-text);
}

@media(min-width:1000px){
    #content{
        background-color: var(--color-primary);
        width: 1000px;
        display: grid;
        margin: auto;
        /*definindo linhas*/
        grid-template-rows:  1fr 1fr 1fr  1fr;
        /*definindo colunas*/
        grid-template-columns: 1fr 1fr 1fr;
        /* templade */
        grid-template-areas:
        "title title title" 
        "subTitle img img"
        "menu img img"
        "sobre img img";
    }
    #page-home h1{
        grid-area: title;
        font-size: 6rem;
    }
     #sud-title-site p{
        /* width: 500px; */
        grid-area: subTitle;
        text-align: initial;
        padding: 10px;
    }
    #page-home .img-main{
        margin: auto;
        grid-area: img;
        width: 28rem;
    }
    #page-home .menu {
        grid-area: menu;
    }
    #page-home .menu a{
        margin: 10px;
    }
    #page-home .sobre{
        margin: 10px;
        grid-area: sobre;
    }
}